{% extends 'base.html.twig' %}

{% block title %}Modif acteur{% endblock %}

{% block body %}

<h1>{{ actor.prenom }} {{ actor.nom}} </h1>
    {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" value="Enregistrer">
    {{ form_end(form)}}

{% endblock %}
